{% extends 'base.html' %}
{% block title %}Password Reset Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Odzyskaj swoje hasło</h4>
                    <hr>
                    <div>
                        Nie pamiętasz swojego hasła? Wpisz adres e-mail użyty przy zakładaniu konta, a prześlemy Ci formularz resetowania.
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary btn-block" align="right" type="submit" value="Wyślij">
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}