{% extends 'base.html' %}
{% block title %}Profil{% endblock %}

{% block content %}
<div class="container">
	<div class="card mt-2">
		<!-- bio -->
		<div class="card-header"><strong>@{{user.username}}</strong></div>
		<div class="card-body d-flex flex-row justify-content-between">
			<div>
				<p>bio użytkownika</p>
			</div>
		</div>
		<div class="card-footer text-muted">
			{% if user.id != profile.user.id %}
			<!-- placeholder - zmienić bna jeśli user to nie my -->
			<form method="POST">
				{% csrf_token %}
				<button <type="submit" class="btn btn-primary" name="obserwuj"
					value="{{post.author.id}}">Obserwuj</button>
			</form>
			{% endif %}
		</div>
	</div>
</div>
{% for post in posts %}
<!-- posty -->
{% if user.id == post.author.id %}
<!-- test + placeholder - zmienić na posty należące do profilu -->
<div class="container">
	<div class="card mt-2">
		<div class="card-header"><strong>@{{post.author.username}}</strong></div>
		<div class="card-body d-flex flex-row justify-content-between">
			<div>
				<h5 class="card-title">{{post.title}}</h5>
				<p>{{post.description}}</p>
			</div>
			<div>
				<form method="POST">
					{% csrf_token %}
					<button type="submit" class="btn btn-danger" name="post-id" value="{{post.id}}">Usuń</button>
				</form>
			</div>
		</div>
		<div class="card-footer text-muted">{{post.created_at}}</div>
	</div>
</div>
{% endif %}
{% empty %}
<p>Użytkownik nie udostępnił jeszcze żadnych postów</p>
{% endfor %}


{% endblock %}