{% extends 'base.html' %}
{% block title %}Profil{% endblock %}

{% block content %}
<div class="container">
	<div class="card mt-2">
		<!-- bio -->
		<div class="card-header"><strong>@{{user.username}}</strong></div>
		<div class="card-body d-flex flex-row justify-content-between">
			<div>
				<p>[BIO]</p>
			</div>
		</div>
		<div class="card-footer text-muted">
			{% if user.id != profile.user.id %}
			<form method="POST">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary" name="obserwuj"
					value="{{post.author.id}}">Obserwuj</button>
			</form>
			<!-- tutaj else zaraz dam tylko test -->
			<a href="/edit-profile">
				<button class="btn btn-warning" name="edytuj_profil">Edytuj profil</button>
			</a>
			{% endif %}
		</div>
	</div>
</div>
{% for post in posts %}
<!-- posty -->
{% if user.id == post.author.id %}
<div class="container">
	<div class="card mt-2">
		<div class="card-header"><strong>@{{post_prof.author.username}}</strong></div>
		<div class="card-body d-flex flex-row justify-content-between">
			<div>
				<h5 class="card-title">{{post_prof.title}}</h5>
				<p>{{post_prof.description}}</p>
			</div>
			<div>
				<form method="POST">
					{% csrf_token %}
					<button type="submit" class="btn btn-danger" name="post-id" value="{{post_prof.id}}">Usuń</button>
				</form>
			</div>
		</div>
		<div class="card-footer text-muted">{{post_prof.created_at}}</div>
	</div>
</div>
{% endif %}
{% empty %}
<p>Użytkownik nie udostępnił jeszcze żadnych postów</p>
{% endfor %}


{% endblock %}